/data/IMDB-BINARY/processed/
/data/MUTAG/MUTAG/processed/
/data/NCI1/NCI1/processed/
/data/PROTEINS/PROTEINS/processed/
/data/REDDIT-BINARY/REDDIT-BINARY/processed/
/data/
/data/COLLAB/
/data/COLLAB/COLLAB/raw/
/data/ENZYMES/ENZYMES/raw/
/data/IMDB-BINARY/raw/
/data/MUTAG/MUTAG/raw/
/data/NCI1/NCI1/raw/
/data/PROTEINS/PROTEINS/raw/
/data/REDDIT-BINARY/REDDIT-BINARY/raw/
